/*Importação de Fontes do Google*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Nosifer&family=Rye&display=swap');
      
/*Corpo*/
body {
    margin: 0;
    border: 0;
    width: 100%;
    background-image: url("../img/Carfundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   
}
 
/*Cabeçalho*/
header {
    display: flex;
    width: 100%;
    height: 15vh;
    max-height: 15vh;
    
}

/*Menu*/
span{
    display: flex;
    align-items: center;  
    cursor: pointer;
    font-family: "Bungee Inline", sans-serif; 
    font-weight: 400; 
    font-style: normal;
    user-select: none;
    font-size: 4vw;
   
}


.link-menu {
    cursor: pointer;
    transition: 0.3s;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2vw;
    user-select: none;
}
  
.link-menu:hover {
    color: rgb(112, 0, 249);
    font-size: 4vw;
}

#button-menu {
    display: flex;
    height: 15vh;
    max-height: 15vh;
    width: auto;
    
} 

#menu {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: none;
    
}

#menu-itens {
    display: none;
}

#menu-itens ul {
    display: block;
    list-style-type: none;
    
}
  
#menu-itens ul li {
    padding: 5% ;
    font-size: 3vw;
}  

#menu.active #menu-itens {
    display: block;
    margin-top: 1%;
    border-radius: 30px;
    border: none;
    backdrop-filter: blur(3px);
}

/*Logo*/
#logo {
    width: 50%;  
    display: flex;
    justify-content: center; 
    align-items: center;
}

.logo1 {
    width: 9vw;
    height: 15vh;
    background-image: url("../img/iconestacio.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
}

.logo2{
    font-family:"Nosifer", sans-serif;
    font-weight: bold; 
    font-size: 3vw;
    font-style: normal;
    user-select: none;
}

/*Login*/
#login {
    width: 25%;  
}

/*Linha*/
.linha {
    width: auto;
    border: 2px solid black;
    border-collapse: collapse;
}

/*Navegação de Veiculos*/

nav{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1%;
}

nav div{
    width: 25%;
    text-align: center;
}

.link-nav {
    font-size: 2vw;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    font-style: normal;
    user-select: none;
    margin: 1%;
    text-decoration: none;
}

.link-nav:hover{
    font-family:"Nosifer", sans-serif;
    color: red ;
    transition: 0.4s;

}

.carrinho {
    width: 25%;
    height: 4vw;
}

.carrinho:hover{
    width: 30%;
}

/*login*/



section {
    width: 40%;
    border-radius:30px ;
    transition: 0.5s;
}

section:hover{
    backdrop-filter: blur(5px);
}

aside{
    display: flex;
    margin: 3% 0 0 4%;
}

.titulo-veiculo{
    user-select: none;
    text-align: center;
    font-size: 3vw;
    font-family: "Bungee Inline", sans-serif; 
    font-weight: bolder;
    transition: 0.4s;
}

.titulo-veiculo:hover {
    color: red;
}

.descricao-veiculo {
    user-select: none;
    text-align: center;
    font-family: "Bungee Inline", sans-serif; 
    font-weight: bold;
    font-size: 1.3vw;
    transition: 0.4s;
}

.descricao-veiculo:hover {
    color: red;
}

article {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 3% 0 0 7%;
}

.img-hilux {
    background-image: url("../img/Toyota-Hilux-SW4-2023\ .jpg");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px ;
}

footer {
    display: flex;
    background-color: black;
    margin-top: 5%;
    color: white;
}

 
footer div {
    width: 25%;
    margin: 2% 0 2% 0;
    padding: 1%;
} 

#logo2  {
    display: flex; 
    width: 30%;
}

.logo3 {
    background-image: url("../img/iconestacio.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
}

.logo4 {
    font-family:"Nosifer", sans-serif;
    font-size: 3vw;
    font-style: normal;
    user-select: none;
}

#link-footer ul {
    display: flex;
    flex-direction: column;
    user-select: none ;
    list-style: none;
}


.link-footer {
    color: white;
    font-size: 2vw; 
    transition: 0.5s;
}

.link-footer:hover {
    color: red; 
    font-size: 3vw;
}

#midia {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-what , .link-face , .link-twit , .link-insta {
    color: white;
    font-size: 4vw;
    padding: 1vw;
    transition: 0.6s;
}

.link-what:hover {
    color: green;
    font-size: 5vw;
}

.link-face:hover {
    color: blue;
    font-size: 5vw;
}

.link-twit:hover {
    color: purple;
    font-size: 5vw;
}

.link-insta:hover {
    font-size: 5vw;
    color: transparent;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    background-clip: text;  
}