@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Rye&display=swap');

    
div {
   border: 1px solid black;
}
    
body {
    margin: 0;
    border: 0;
    width: 100%;
    height: 100vh;
    background-image: url("..\img\Carfundo.jpg") no-repeat center center;
    background-size: cover;
    
}
    
header {
    display: flex;
    width: 100%;
    height: 15vh;
}

.botao {
   
    background-color: transparent;
    cursor:pointer;
    font-size: 2.2vw;
    font-family: "Bungee Inline", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
    border-radius: 30px;
}

a {
    cursor: pointer;
    transition: 0.3s;
    color: black;
}
  
a:hover {
    color: blue;
    font-size: xx-large;
}

#menu {
    display:grid;
    width: 25%;
}

menu {
    display: none;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
   
}
  
menu ul {
    display: block;
    list-style-type: none;
    padding: 0;
    border: 1px solid black;
}
  
menu ul li {
    padding: 10px ;
    border: 1px solid black;
}
  
#menu:hover menu {
    display: block;
}


#logo {
    width: 50%;  
    display: flex;
    justify-content: center; 
    align-items: center;
}

.logo1 {
   width: 50%;
   max-width: 300px;
   height: 15vh;
   background-image: url("../img/estaciologo1.png"); 
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   border: none;
}

.logo2 {
 
    font-family: "Rye", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5vw;
    border: none;
    
}

#login {
    width: 25%;  
}



